<!DOCTYPE html>
{% load static from staticfiles %}
  <html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta charset="utf-8" />
      <title>Eric Management</title>

      <meta name="description" content="overview &amp; stats" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

      <!-- bootstrap & fontawesome -->
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
      <link rel="stylesheet" href="{% static 'assets/font-awesome/4.5.0/css/font-awesome.min.css' %}" />

      <!-- page specific plugin styles -->

      <!-- text fonts -->
      <link rel="stylesheet" href="{% static 'assets/css/fonts.googleapis.com.css' %}" />

      <!-- ace styles -->
      <link rel="stylesheet" href="{% static 'assets/css/ace.min.css' %}" class="ace-main-stylesheet" id="main-ace-style" />

      <!--[if lte IE 9]>
  	<link rel="stylesheet" href="{% static 'assets/css/ace-part2.min.css' %}" class="ace-main-stylesheet" />
  	<![endif]-->
      <link rel="stylesheet" href="{% static 'assets/css/ace-skins.min.css' %}" />
      <link rel="stylesheet" href="{% static 'assets/css/ace-rtl.min.css' %}" />

      <!--[if lte IE 9]>
  	<link rel="stylesheet" href="{% static 'assets/css/ace-ie.min.css' %}" />
  	<![endif]-->

      <!-- inline styles related to this page -->

      <!-- ace settings handler -->
      <script src="{% static 'assets/js/ace-extra.min.js' %}"></script>

      <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

      <!--[if lte IE 8]>
  	<script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
  	<script src="{% static 'assets/js/respond.min.js' %}"></script>
  	<![endif]-->
    </head>

    <body class="no-skin">
      <div id="navbar" class="navbar navbar-default          ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">

  	<div class="navbar-header pull-left">
  	  <a href="index.html" class="navbar-brand">
  	    <small>
  	      <i class="fa fa-leaf"></i>
  	      Eric Admin
  	    </small>
  	  </a>
  	</div>
	<div class="navbar-header pull-right">
	   {% ifequal username None %}
	  <ul class="nav navbar-nav navbar-right">
	    <li>
	      <a href="{% url 'login' %}">Login</a>
	    </li>
	  </ul>
	  {% else %}
	  <ul class="nav navbar-nav navbar-right">
	    <li>
	      <a href="{% url 'loginout' %}">Login out</a>
	    </li>
	  </ul>
	  {% endifequal %}
  	</div>
  </div>
      </div>

      <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
  	try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <div id="sidebar" class="sidebar responsive ce-save-state">
  	<script type="text/javascript">
  	  try{ace.settings.loadState('sidebar')}catch(e){}
  	</script>

  	<ul class="nav nav-list">
  	  <li class="active">
  	    <a href="index.html">
  	      <i class="menu-icon fa fa-tachometer"></i>
  	      <span class="menu-text"> Dashboard </span>
  	    </a>

  	    <b class="arrow"></b>
  	  </li>

  	  <li id="authorization-management" class="">
  	    <a href="#" class="dropdown-toggle">
  	      <i class="menu-icon fa fa-desktop"></i>
  	      <span class="menu-text">
  		Authorization
  	      </span>

  	      <b class="arrow fa fa-angle-down"></b>
  	    </a>

  	    <b class="arrow"></b>

  	    <ul class="submenu">
  	      <li id="user-management" class="">
  		<a href="{% url 'user_list' %}">
  		  <i class="menu-icon fa fa-caret-right"></i>
  		  User Manage
  		</a>

  		<b class="arrow"></b>
  	      </li>

  	      <li class="">
  		<a href="elements.html">
  		  <i class="menu-icon fa fa-caret-right"></i>
  		  Group Manage
  		</a>

  		<b class="arrow"></b>
  	      </li>

  	      <li id="role-management" class="">
  		<a href="{% url 'role_list' %}">
  		  <i class="menu-icon fa fa-caret-right"></i>
  		  Role Management
  		</a>

  		<b class="arrow"></b>
  	      </li>

	      <li id="userrole-management" class="">
  		<a href="{% url 'role_list' %}">
  		  <i class="menu-icon fa fa-caret-right"></i>
  		  Userrole Management
  		</a>

  		<b class="arrow"></b>
  	      </li>

  	      <li class="">
  		<a href="content-slider.html">
  		  <i class="menu-icon fa fa-caret-right"></i>
  		  Authority Manage
  		</a>

  		<b class="arrow"></b>
  	      </li>
  	    </ul>
  	  </li>
  	    </ul>
  	  </li>
  	</ul><!-- /.nav-list -->

  	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
  	  <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
  	</div>
        </div>

        <div class="main-content">
  	<div class="main-content-inner">
  	  <div class="breadcrumbs ace-save-state" id="breadcrumbs">
  	    <ul class="breadcrumb">
  	      <li>
  		<i class="ace-icon fa fa-home home-icon"></i>
  		<a href="#">Home</a>
  	      </li>
  	      <li class="active">Dashboard</li>
  	    </ul><!-- /.breadcrumb -->

  	    <div class="nav-search" id="nav-search">
  	      <form class="form-search">
  		<span class="input-icon">
  		  <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
  		  <i class="ace-icon fa fa-search nav-search-icon"></i>
  		</span>
  	      </form>
  	    </div><!-- /.nav-search -->
  	  </div>

  	  <div class="page-content">
  	    <div class="ace-settings-container" id="ace-settings-container">
  	      <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
  		<i class="ace-icon fa fa-cog bigger-130"></i>
  	      </div>

  	      <div class="ace-settings-box clearfix" id="ace-settings-box">
  		<div class="pull-left width-50">
  		  <div class="ace-settings-item">
  		    <div class="pull-left">
  		      <select id="skin-colorpicker" class="hide">
  			<option data-skin="no-skin" value="#438EB9">#438EB9</option>
  			<option data-skin="skin-1" value="#222A2D">#222A2D</option>
  			<option data-skin="skin-2" value="#C6487E">#C6487E</option>
  			<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
  		      </select>
  		    </div>
  		    <span>&nbsp; Choose Skin</span>
  		  </div>

  		  <div class="ace-settings-item">
  		    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
  		    <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
  		  </div>

  		  <div class="ace-settings-item">
  		    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
  		    <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
  		  </div>

  		  <div class="ace-settings-item">
  		    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
  		    <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
  		  </div>

  		  <div class="ace-settings-item">
  		    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
  		    <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
  		  </div>

  		  <div class="ace-settings-item">
  		    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
  		    <label class="lbl" for="ace-settings-add-container">
  		      Inside
  		      <b>.container</b>
  		    </label>
  		  </div>
  		</div><!-- /.pull-left -->

  		<div class="pull-left width-50">
  		  <div class="ace-settings-item">
  		    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
  		    <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
  		  </div>

  		  <div class="ace-settings-item">
  		    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
  		    <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
  		  </div>

  		  <div class="ace-settings-item">
  		    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
  		    <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
  		  </div>
  		</div><!-- /.pull-left -->
  	      </div><!-- /.ace-settings-box -->
  	    </div><!-- /.ace-settings-container -->

  	    <div class="page-header">
  	      <h1>
  		Dashboard
  		<small>
  		  <i class="ace-icon fa fa-angle-double-right"></i>
  		  overview &amp; stats
  		</small>
  	      </h1>
  	    </div><!-- /.page-header -->

  	    <div class="row">
  	      <div class="col-xs-12">
  		<!-- PAGE CONTENT BEGINS -->
		{% block content %}
		{% endblock content %}

  		<!-- PAGE CONTENT ENDS -->
  	      </div><!-- /.col -->
  	    </div><!-- /.row -->
  	  </div><!-- /.page-content -->
  	</div>
        </div><!-- /.main-content -->

        <div class="footer">
  	<div class="footer-inner">
  	  <div class="footer-content">
  	    <span class="bigger-120">
  	      <span class="blue bolder">YY</span>
  	      Application &copy; 2017
  	    </span>

  	    &nbsp; &nbsp;
  	    <span class="action-buttons">
  	      <a href="#">
  		<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
  	      </a>

  	      <a href="#">
  		<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
  	      </a>

  	      <a href="#">
  		<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
  	      </a>
  	    </span>
  	  </div>
  	</div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
  	<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
      </div><!-- /.main-container -->

      <!-- basic scripts -->

      <!--[if !IE]> -->
      <script src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>

      <!-- <![endif]-->

      <!--[if IE]>
  	<script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
  	<![endif]-->
      <script type="text/javascript">
        if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
        </script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

        <!-- page specific plugin scripts -->

        <!--[if lte IE 8]>
  	  <script src="{% static 'assets/js/excanvas.min.js' %}"></script>
  	  <![endif]-->
        <script src="{% static 'assets/js/jquery-ui.custom.min.js' %}"></script>
        <!-- ace scripts -->
        <script src="{% static 'assets/js/ace-elements.min.js' %}"></script>
        <script src="{% static 'assets/js/ace.min.js' %}"></script>

        <!-- inline scripts related to this page -->
        <script type="text/javascript"> </script>
	{% block js_part %}
	{% endblock js_part %}
      </body>
  </html>
